# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Virtual environments
.venv/
venv/

# Environment variables / secrets
.env
.env.*
!.env.example

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/